body {
  font-family: Arial, sans-serif;
  background-color: "grey";
  width: 60%;
  margin: 0 auto;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.ingredients-list {
  list-style: square inside;
  margin: 15px 0px;
}

ol {
  list-style: decimal-leading-zero;
  margin: 10px 0;
}

header > img {
  width: 100px;
  float: left;
}

ul li a {
  text-decoration: none;
  color: inherit;
}

nav {
  float: right;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  display: block;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
}

aside {
  width: 180px;
  margin-right: 15px;
  display: inline-block;
}

select {
  margin: 10px 0;
  width: 180px;
}

textarea {
  width: 350px;
}

input[type="text"], select {
  display: block;
  width: 175px;
}
